<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rockbot Demo</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="main.css">


</head>

<body>
    <div id="app">
        <header>
            <img id="logo" src="https://d2x3f3hu3pbot6.cloudfront.net/static/img/logo/square_bk_text-40px.png">
        </header>

        <div v-show="page === 'nowplaying'">
            <div id="current">
                <img :src="artwork" id="current_song">
                <div id="cur_info">
                    <p> Currently Playing:
                    <p>
                    <p id="cur_song"> {{song}} </p>
                    <p id="cur_artist"> {{artist}} </p>
                </div>
            </div>
            <div id="queue">
                <h2> Coming Up! </h2>
                <ul>
                    <li v-for="song in queue" :key="queue.sSong" class="queue_songs">
                        <img :src="song.sArtwork" class="queue_img">
                        <div class="queue_info">
                            <p class="queue_artist"> {{song.sArtist}}</p>
                            <p class="queue_song"> {{song.sSong}} </p>
                            <p class="queue_rating"> Rating: {{song.iLikes - song.iDislikes}} </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div v-show="page === 'leaderboard'">
            <div id="topArtists">
                <h2> Top Artists </h2>
                <ul>
                    <li v-for="artist in topArtists" :key="topArtists.sArtist">
                        <img :src="artist.sArtistImage">
                        <p> {{artist.sArtist}} </p>
                    </li>
                </ul>
            </div>
            <div id="topDjs">
                <h3> Top Djs </h3>
                <ul>
                    <li v-for="dj in topDJs" :key="topDJs.sArtist">
                        <img :src="dj.sArtistImage">
                        <p> {{dj.sArtist}} </p>
                    </li>
                </ul>
            </div>
        </div>
        <footer class="btn-group" >
            <button style="width:50%">Apple</button>
            <button style="width:50%">Sony</button>
        </footer>
</div>



    <script src="main.js"></script>
</body>

</html>